<div class="container">
  <ul class="buzz-list">
    <li class="buzz-list-item">
      <figure class="attendee-img">
        <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/11254514_10153763403507269_6988147891341249362_n.jpg?oh=6498e035fe5d53bb45add78ac4fc619f&oe=5A7261ED">
      </figure>
      <p class="attendee-info">
        <span class="attendee-name">Leonie Overbeek</span>
        <a class="attendee-link" href="">Namyang/Gojeong Elementary</a>
      </p>
      <p class="attendee-comment">
        I had a blast! I love seeing my Jeonju friends that I only catch up with at conferences.  I must say you guys can teach some of the other chapters a thing or two about making sure your speakers have everything they want.
      </p>
    </li>
    <li class="buzz-list-item">
      <figure class="attendee-img">
        <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t31.0-1/c0.0.1424.1424/18620906_10158725339610652_4503741960440492120_o.jpg?oh=1f7f41cb258033eeef99ad15539f7e23&oe=5A625235">
      </figure>
      <p class="attendee-info">
        <span class="attendee-name">Andrew Griffiths</span>
        <a class="attendee-link" href="">Korea</a>
      </p>
      <p class="attendee-comment">
        Just wanted to say a big thank you for your welcome and your support yesterday - I had a lot of fun presenting and I was really impressed with how high participation is in your chapter - amazing!
      </p>
    </li>
    <li class="buzz-list-item">
      <figure class="attendee-img">
        <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/16716_756339754425872_3647156792484468476_n.jpg?oh=397895e655a74464ac9b4dde9f6eee74&oe=5AAEDB3C">
      </figure>
      <p class="attendee-info">
        <span class="attendee-name">Joseph Greenwood</span>
        <a class="attendee-link" href="">Soongil University</a>
      </p>
      <p class="attendee-comment">
        It was truly my pleasure. It was wonderful to meet you all. Jeonju was beautiful, we had a really great Sunday exploring. Fascinating city.
      </p>
    </li>
    <li class="buzz-list-item">
      <figure class="attendee-img">
        <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/1923210_552450244348_761375_n.jpg?oh=0324aa546491a3041b83d92e8913e3e1&oe=5AAE7132">
      </figure>
      <p class="attendee-info">
        <span class="attendee-name">Petra Glithero-Baldwin</span>
        <a class="attendee-link" href="">Korea</a>
      </p>
      <p class="attendee-comment">
        Thank you all for your hospitality and organizing a great chapter meeting. It was my pleasure to be a part of it.
      </p>
    </li>
    <li class="buzz-list-item">
      <figure class="attendee-img">
        <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t31.0-8/16904914_10211133734435410_183802592173271467_o.jpg?oh=a0d512b9f13423a73d4ac465ddec4584&oe=5AAD6E18">
      </figure>
      <p class="attendee-info">
        <span class="attendee-name">Stewart Gray</span>
        <a class="attendee-link" href="">Danguk University</a>
      </p>
      <p class="attendee-comment">
        Thanks very much again for inviting me. It was an enjoyable workshop. Hope I'll see you all again before too long.
      </p>
    </li>
    <li class="buzz-list-item">
      <figure class="attendee-img">
        <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/65106_10152358449715231_1866108819_n.jpg?oh=ce99f3b8815e443209a5bf2da5f0f63b&oe=5A7829BA">
      </figure>
      <p class="attendee-info">
        <span class="attendee-name">Michael Griffin</span>
        <a class="attendee-link" href="">Danguk University</a>
      </p>
      <p class="attendee-comment">
        Hello and thank you again for having us. We really enjoyed the session and talking to people. It was a really nice group.
      </p>
    </li>
  </ul>

  <h2 class="subscriber-list-title">Subscribe to the JNJ KOTESOL email list</h2>
  <form class="subscriber-list">
    <input class="subscriber-email form-control" type="email" placeholder="Your Email" />
    <input class="button subscriber-submit" type="submit" value="Get on the list!" />
  </form>
</div>
