<div class="container">
<p>We are all very excited about our regional conference (November 11th 1pm - 5:00pm).  We are hoping for a good turnout.   We also encourage all our presenters to spread the word and bring along any support.</p>

<p>To assist you in arriving as comfortably as possible, following, you will find the conference starting time, preparation advice, accommodation options if required and most importantly, advice on how to get to the venue (transportation and directions).</p>
<p>The conference will start at 1pm so we suggest that you arrive at the venue no later than 12:30pm to allow you time to set up and settle in. We will have four presentations and three 15 minute demonstrations. All sounds very engaging and beneficial. </p>

<p>If you are unsure on how to get to the meeting room, Star Center Room 201, we can meet you at the student union (clock tower) building which is across from Star Centre (Meeting at the clock tower is the easiest meeting point if you have never been to Jeonju University) - see taxi instructions below. Please let us know by the morning of the workshop if you would like us to meet you at the clock tower and we can arrange for someone to meet you.</p>

<p>If you would prefer to take a bus, we can provide you with bus numbers, a map and directions to get to the clock tower (please allow plenty of time to get to the venue if this is your preferred form of transportation)</p>

<p>Regarding your presentation, there will be a whiteboard and board pens, internet and a projector available for you to use, however we suggest you prepare for no/limited internet access - bring a USB of your files. Furthermore, should the projector not work for whatever reason, please come prepared with handouts if necessary. We will ensure to check the room and technology the night before and again on the day of the workshop in order to avoid any of those problems.</p>

<p>Finally, if you have any special requirements such as preferred seating arrangement, please don't hesitate to contact us and we will do our best to meet your needs prior to the meeting.
We are thoroughly looking forward to meeting you and seeing your demonstration.</p>

<p>We usually have some dinner and drinks together following the conference.  Please join us if you're available.</p>

<p>Thanks again for offering your time to JNJ KOTESOL to share your knowledge and expertise.</p>

     <h3>Jeonju University venue directions:</h3>

     <a href="http://koreatesol.org/content/jeonju-venue-directions">Venue Directions</a>


     <h4>Walking from the old gate (전주대 구정문):</h4>
<p>Enter through the old gate and walk until you reach the roundabout near the clock tower. Star Center is the (newest)building on your left. Enter the building and take the elevator to the second floor.</p>

     <h4>Taxi to the student union building, clock tower (학생회관)</h4>
     <ol><li>전주대학교</li>
       <li>구정문 (old gate)</li>
     <li>학생회관 (student union building, clock tower)</li>
   <li>Star Center is across from the student union/clock tower</li></ol>

     <h4>Transport</h4>
     <ul><li>Express Bus: http://www.kobus.co.kr/web/eng/index.jsp</li>
       <li>Train: http://www.letskorail.com/ebizbf/EbizBfTicketSearch.do</li>
       <li>Car: http://www.jj.ac.kr/eng/introduction/location.jsp</li></ul>

     <h4>Accommodation</h4>
<p>Hannok Village: http://www.booking.com/hotel/kr/my-stay.en-gb.html (booking recommended)
Hyojadong (near JJU): Shinshikagi has a number of motels that you could stay in for around 40,000 for one night (no booking necessary, but depends on availability)</p>

<p>Chapter President Contact Info:</p>
<p>Should you run into any difficulty finding your way, please contact Ingrid on</p>
</div>
