
    <div class="svg-container gallery-svg svg-block">
      <% include ../template/svgslant.ejs %>
    </div>

    <ul class="gallery-list">
      <li class="gallery-list-item" style="background-image: url(https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/18767853_1782106058768733_4419599982636323394_n.jpg?oh=21c19e900b7946b6d6cb49ca58022403&oe=5AAFCF85)">
          <!-- <img class="pixgrid" src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/18767853_1782106058768733_4419599982636323394_n.jpg?oh=21c19e900b7946b6d6cb49ca58022403&oe=5AAFCF85"> -->
      </li>
      <li class="gallery-list-item pixgrid" style="background-image: url(https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/18740521_1782106195435386_3481090660758880655_n.jpg?oh=c6c98f1f2d6bb7743f72ea896173d35d&oe=5A688193)">
          <!-- <img class="pixgrid" src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/18740521_1782106195435386_3481090660758880655_n.jpg?oh=c6c98f1f2d6bb7743f72ea896173d35d&oe=5A688193"> -->
      </li>
      <li class="gallery-list-item pixgrid" style="background-image: url(https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/18813854_1782106245435381_5195531548741992818_n.jpg?oh=ead986c07ffe2560cd6d23625ea343a3&oe=5A7380FA)">

      </li>
      <li class="gallery-list-item pixgrid" style="background-image: url(https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/18765898_1782105942102078_6723687950784738567_n.jpg?oh=32026cf293bce42cd67c7728a8c19695&oe=5A623DA9)">

      </li>
      <li class="gallery-list-item pixgrid" style="background-image: url(https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/18700146_1782105872102085_6645151238862189443_n.jpg?oh=2bb09626e79564e5e893af965dcde8d2&oe=5AAA979F)">

      </li>
      <li class="gallery-list-item pixgrid" style="background-image: url(https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/18767843_1782106242102048_6293659385971727411_n.jpg?oh=5be7363fedf8091e53c22d3a6f36ccab&oe=5A643B27)">

      </li>
      <li class="gallery-list-item pixgrid" style="background-image: url(https://scontent-icn1-1.xx.fbcdn.net/v/t31.0-8/15138582_1042214439241410_5554091042959199327_o.jpg?oh=78b7f4b4c7c94b1283972850654151ae&oe=5A7A1E3F)">

      </li>
      <li class="gallery-list-item pixgrid" style="background-image: url(https://scontent-icn1-1.xx.fbcdn.net/v/t31.0-8/15157012_1042214402574747_4532870649771437770_o.jpg?oh=ef6fc5520b899183986a0ae50e122a9e&oe=5AAD9178)">

      </li>
      <li class="gallery-list-item pixgrid" style="background-image: url(https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/15036586_1042214282574759_2543440515313589980_n.jpg?oh=aff70d6b0d54bde62f6c8b4f3cfa6a9b&oe=5A65097D)">

      </li>
      <li class="gallery-list-item pixgrid" style="background-image: url(https://scontent-icn1-1.xx.fbcdn.net/v/t31.0-8/15129537_1042214359241418_8812697266069888477_o.jpg?oh=a7556e6ce1fa0c2477443f888fca2533&oe=5A73152C)">

      </li>
      <li class="gallery-list-item pixgrid" style="background-image: url(https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/1888740_10152343446860993_1232146503566967239_n.jpg?oh=70ca3df6a8bd9c04613ddc95f271ad5e&oe=5A80B86A)">

      </li>
      <li class="gallery-list-item pixgrid" style="background-image: url(https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/1510645_670762769653044_5175776993751043539_n.jpg?oh=a5e459142bb53be503674f66f4a86f2e&oe=5A67828C)">

      </li>
    </ul>

    <div class="svg-container header-svg svg-block">
      <% include ../template/svgslant.ejs %>
    </div>
