
    <div class="svg-container gallery-svg svg-block">
      <% include ../template/svgslant.ejs %>
    </div>

    <ul class="gallery-list">

      <% for( var i=1; i<13; i++) { %>
      <li class="gallery-list-item" style="background-image: url(/img/gallery/gallery-<%= i %>.jpg)">
          <!-- <img class="pixgrid" src="/img/gallery/gallery-<%= i %>.jpg"> -->
      </li>
      <% } %>

    </ul>

    <div class="svg-container header-svg svg-block">
      <% include ../template/svgslant.ejs %>
    </div>
