<hgroup class="page-title container">
  <img src="/img/jnj-kotesol-logo-2.png">
  <h1><span class="screen-reader-text">Jeonju-North Jeolla KOTESOL</span> 2017 Regional Conference</h1>
</hgroup>
<figure class="hero gradient">
  <% if ( pageID == 'home' ) { %>
    <img src="/img/bg/5-color-plain.jpg">
  <% } else { %>
    <img src="/img/bg/5-color-short.jpg">
  <% } %>

  <div class="svg-container header-svg svg-block">
    <% include ../template/svgslant.ejs %>
  </div>
</figure>

<% if ( pageID == 'home' ) { %>
<div class="container">
  <div class="page-callout">
    <p>KOTESOL is a non-profit, professional organization that seeks to assist teachers in self-development and improve English Language Teaching in Korea. At the JNJ Regional Conference, prepare to "Learn - Share - Succeed."</p>
  </div>
</div>
<% } %>
