<div class="svg-container partners-svg svg-block">
  <% include ../template/svgslant.ejs %>
</div>
<!-- Schedule -->

<div class="conference-schedule container">
  <h2 class="page-section-title">Conference Schedule</h2>
  <table class="schedule-section">
    <tr class="schedule-header">
      <th class="schedule-time">Time</th>
      <th class="schedule-session">Session</th>
      <th class="schedule-speaker">Speaker</th>
      <th class="schedule-venue">Venue</th>
    </tr>
    <tr>
      <td class="schedule-time">1:00 pm</td>
      <td colspan="2" class="schedule-session">Registration</td>
      <td class="schedule-venue">Foyer</td>
    </tr>
    <tr>
      <td class="schedule-time">1:15 pm</td>
      <td colspan="2" class="schedule-session">Opening Ceremony</td>
      <td class="schedule-venue">Room 1</td>
    </tr>
    <tr>
      <td rowspan="3" class="schedule-time">1:45 pm</td>
      <td colspan="3" class="schedule-span">Workshops A</td>
    </tr>
    <tr>
      <td class="schedule-session">Using Realia in Learning &amp; Practicing English</td>
      <td class="schedule-speaker">Christensen Low</td>
      <td class="schedule-venue">Room 1</td>
    </tr>
    <tr>
      <td class="schedule-session">11 Things you didn't know Google could do for your classroom</td>
      <td class="schedule-speaker">Aaron Snowberger</td>
      <td class="schedule-venue">Room 2</td>
    </tr>
    <tr>
      <td rowspan="3" class="schedule-time">2:45 pm</td>
      <td colspan="3" class="schedule-span">Workshops B</td>
    </tr>
    <tr>
      <td class="schedule-session">Intonation Matters</td>
      <td class="schedule-speaker">Aaron Pyle</td>
      <td class="schedule-venue">Room 1</td>
    </tr>
    <tr>
      <td class="schedule-session">How to Encourage EFL Students to speak English freely in a Conversation Class</td>
      <td class="schedule-speaker">Hyukbin Kwon</td>
      <td class="schedule-venue">Room 2</td>
    </tr>
    <tr>
      <td rowspan="2" class="schedule-time">3:45 pm</td>
      <td colspan="3" class="schedule-span">Teaching Tips</td>
    </tr>
    <tr>
      <td class="schedule-session">Integrating Cultural Lessons within the EFL Classroom</td>
      <td class="schedule-speaker">Alicia Aukema</td>
      <td rowspan="3" class="schedule-venue">Room 1</td>
    </tr>
    <tr>
      <td class="schedule-time">4:00 pm</td>
      <td class="schedule-session">Small Talk = Big Smiles</td>
      <td class="schedule-speaker">Lisa Kim</td>
    </tr>
    <tr>
      <td class="schedule-time">4:15 pm</td>
      <td class="schedule-session">Bringing Augmented Reality into the EFL Classroom</td>
      <td class="schedule-speaker">Susan Webster</td>
    </tr>
    <tr>
      <td class="schedule-time">4:30 pm</td>
      <td colspan="2" class="schedule-session">Closing Ceremony &amp; Prize Draw</td>
      <td class="schedule-venue">Room 1</td>
    </tr>
    <tr>
      <td rowspan="2" class="schedule-time">5:00 pm</td>
      <td colspan="3" class="schedule-span">After party &amp; dinner</td>
    </tr>
    <tr>
      <td colspan="2" class="schedule-session">Restaurant in Shinshikaji</td>
      <td class="schedule-venue">TBA</td>
    </tr>
  </table>
</div>

<div class="svg-container header-svg svg-block">
  <% include ../template/svgslant.ejs %>
</div>
