<div class="container">
  <h2 class="page-section-title">Our sponsoring partners</h2>
  <ul class="sponsor-list">
    <li class="sponsor-list-item">
      <a href=""><img class="sponsor-logo" src="https://www.conteenew.com/data/file/artwork/2040957195_T37Cijzk_6207a4aaeb067a1c6e39e94b5c113018cf115d44.png"></a>
    </li>
    <li class="sponsor-list-item">
      <a href=""><img class="sponsor-logo" src="https://koreatesol.org/sites/default/files/Kotesol%20logo_2_0.png"></a>
    </li>
  </ul>
<!--       <button class="sponsor-button">Become a sponsor</button> -->
</div>
