<div class="container">
  <h2 class="page-section-title">Our sponsoring partners</h2>
  <ul class="sponsor-list sponsor-list-small">
        <!-- JJU -->
        <li class="sponsor-list-item">
          <a href="http://www.jj.ac.kr/"><img class="sponsor-logo" src="/img/sponsors/jju-logo.png"></a>
        </li>
        <!-- KOTESOL -->
        <!-- <li class="sponsor-list-item">
          <a href="https://koreatesol.org/"><img class="sponsor-logo" src="/img/sponsors/kotesol-logo.png"></a>
        </li> -->
        <!-- TOP Bookstore -->
        <li class="sponsor-list-item">
          <a href="http://naver.me/xi0JL0WB"><img class="sponsor-logo" src="/img/sponsors/top-logo.png"></a>
        </li>
        <!-- Tacocina -->
        <li class="sponsor-list-item">
          <a href="https://www.facebook.com/Tacocina-%ED%83%80%EC%BD%94%EC%94%A8%EB%82%98-230582780692767/"><img class="sponsor-logo" src="/img/sponsors/tacocina-logo.png"></a>
        </li>
        <!-- Lemon Tree Cafe -->
        <li class="sponsor-list-item">
          <a href="http://naver.me/5bbqCFuG"><img class="sponsor-logo" src="/img/sponsors/lemontree-logo.png"></a>
        </li>
        <!-- Cambridge University Press -->
        <li class="sponsor-list-item">
          <a href="http://naver.me/5bbqCFuG"><img class="sponsor-logo" src="/img/sponsors/cambridge-logo.png"></a>
        </li>
        <!-- The Liter Coffee -->
        <li class="sponsor-list-item">
          <a href="http://www.theliter.co.kr/"><img class="sponsor-logo" src="/img/sponsors/liter-logo.png"></a>
        </li>
        <!-- Yega Restaurant -->
        <li class="sponsor-list-item">
          <a href="http://naver.me/5nM2hnF3"><img class="sponsor-logo" src="/img/sponsors/yega-logo.png"></a>
        </li>
        <!-- English Garden -->
        <li class="sponsor-list-item">
          <a href="http://naver.me/xdodjYGu"><img class="sponsor-logo" src="/img/sponsors/english-garden-logo.png"></a>
        </li>
        <!-- March Rabbit -->
        <li class="sponsor-list-item">
          <a href="http://marchrabbit.co.kr/"><img class="sponsor-logo" src="/img/sponsors/march-rabbit-logo.png"></a>
        </li>
        <!-- Solaste Yoga -->
        <li class="sponsor-list-item">
          <a href="https://www.facebook.com/groups/solastayoga/"><img class="sponsor-logo" src="/img/sponsors/solasta-logo.png"></a>
        </li>
      </ul>
      <a href="/sponsors" class="sponsor-button" style="text-align: center;">View all sponsors &rarr;</a>
</div>
