<!DOCTYPE html>
<html>
    <head>
        <% include partials/template/head.ejs %>
    </head>
    <body id="<%= pageID %>">

        <% include partials/template/header-menu.ejs %>

        <main class="site-content">
            <% include partials/content/hero.ejs %>

            <section class="page-section chat gradient">
                <div class="container small">
                  <!-- <header class="chat-header">
                      <h4 class="h3 chat-title">Conference Chat</h4>
                      <p class="text-muted">Welcome...add your message using the form to the side.</p>
                    </header> -->
                  <article class="chat-window">
                    <div class="panel chat-panel panel-default">
                      <h4 class="page-section-title">Conference Chat</h4>
                      <div class="panel-body chat-display"></div>
                      <!-- panel-body -->
                    </div>


                    <!-- chat-header -->
                    <form name="chatForm" class="form-horizontal chat-form">
                      <div class="form-group name-form-group">
                        <label for="chat-username" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="chat-username" required placeholder="Your name">
                        </div>
                        <!-- col-sm-10 -->
                      </div>
                      <!-- form-group -->
                      <div class="form-group">
                        <label for="chat-message" class="col-sm-2 control-label">Message</label>
                        <div class="col-sm-10">
                          <div class="input-group">
                            <input type="text" placeholder="Your message, then ENTER" class="form-control" id="chat-message" rows="2" autocomplete="off" required>
                            <span class="input-group-btn">
                                  <button id="chat-submit" class="button form-submit" type="submit"><i class="fa fa-comments-o"></i> Send</button>
                                </span>
                          </div>
                          <!-- input-group -->
                        </div>
                        <!-- col-sm-10 -->
                      </div>
                      <!-- form-group -->
                    </form>
                    <!-- panel-default -->
                  </article>
                  <!-- article -->
    </div><!-- container -->
            </section>

            <div class="svg-container footer-svg svg-block">
              <% include partials/template/svgslant.ejs %>
            </div>
        </main>

        <% include partials/template/footer.ejs %>
        <% include partials/template/footer-scripts.ejs %>
    </body>
</html>
