<!DOCTYPE html>
<html>
    <head>
        <% include partials/template/head.ejs %>
    </head>
    <body id="<%= pageID %>">
        <% include partials/template/header-menu.ejs %>

        <main class="site-content">
            <% include partials/content/hero.ejs %>

            <section class="page-section speakers gradient">
                Code of Conduct
            </section>

            <div class="svg-container footer-svg svg-block">
              <% include partials/template/svgslant.ejs %>
            </div>
        </main>

        <% include partials/template/footer.ejs %>
        <% include partials/template/footer-scripts.ejs %>
    </body>
</html>
