<!DOCTYPE html>
<html>
    <head>
        <% include partials/template/head.ejs %>
    </head>
    <body id="<%= pageID %>">

        <% include partials/template/header-menu.ejs %>

        <main class="site-content">
            <% include partials/content/hero.ejs %>

            <section class="page-section feedback gradient">
                <div class="container">
                  <form class="feedback-form">
                    <h4 class="feedback-form-title">Leave your feedback</h4>
                    <div class="form-group">
                      <label for="feedback-form-name">Name</label>
                      <input type="text" class="form-control" id="feedback-form-name" placeholder="Enter your name">
                    </div>
                    <div class="form-group">
                      <label for="feedback-form-title">Title</label>
                      <input type="text" class="form-control" id="feedback-form-title" placeholder="Title of your feedback">
                    </div>
                    <div class="form-group">
                      <label for="feedback-form-message">Message</label>
                      <textarea type="text" placeholder="Enter your message" class="form-control" id="feedback-form-message" rows="6"></textarea>
                    </div>
                    <input type="hidden" id="feedback-form-type">
                    <button type="submit" id="positive-feedback" class="button btn-default positive-feedback pull-right form-submit">
                      <i class="fa fa-thumbs-up"></i><span class="screen-reader-text">Positive Feedback</span>
                    </button>
                    <button type="submit" id="negative-feedback" class="button negative-feedback button-inverse pull-right form-submit">
                      <i class="fa fa-thumbs-down"></i><span class="screen-reader-text">Negative Feedback</span>
                    </button>
                  </form>

                  <aside class="recent-feedback">
                      <h2 class="page-section-title">Recent Feedback</h2>

                      <ul class="feedback-messages"></ul>
                  </aside>
    </div><!-- container -->
            </section>

            <section class="page-section buzz gradient">
                <% include partials/content/buzz.ejs %>
            </section>
        </main>

        <% include partials/template/footer.ejs %>
        <% include partials/template/footer-scripts.ejs %>
    </body>
</html>
