<!DOCTYPE html>
<html>
    <head>
        <% include partials/template/head.ejs %>
    </head>
    <body id="<%= pageID %>">
        <% include partials/template/header-menu.ejs %>

        <main class="site-content">
            <% include partials/content/hero.ejs %>

            <section class="page-section sponsors gradient">
              <div class="container small">
    <h2 class="page-section-title">Our sponsoring partners</h2>
    <p>If you're interested in becoming a sponsoring partner, we'd <a href="">love to chat</a>. We look forward to working with companies and organizations ready and excited to help further English education and training in Korea.</p>

    <h4 class="sponsor-section-title">Our Hosting Partners</h4>

    <!-- JJU -->
    <ul class="sponsor-list">
      <li class="sponsor-list-item hosting-partner">
        <a href="http://www.jj.ac.kr/"><img class="sponsor-logo" src="/img/sponsors/jju-logo.png"></a>
      </li>
      <li class="sponsor-list-item gold-sponsor hosting-partner">
        <h5 class="sponsor-name">Jeonju University</h5>
        <p class="sponsor-description">Jeonju University is a private university located on the west end of Jeonju. It has been host to the Jeonju-North Jeolla KOTESOL chapters workshops and Conferences since 2014.</p>
      </li>
    </ul>

    <!-- KOTESOL -->
    <ul class="sponsor-list">
      <li class="sponsor-list-item hosting-partner">
        <a href="https://koreatesol.org/"><img class="sponsor-logo" src="/img/sponsors/kotesol-logo.png"></a>
      </li>

      <li class="sponsor-list-item gold-sponsor hosting-partner">
        <h5 class="sponsor-name">KOTESOL</h5>
        <p class="sponsor-description">KOTESOL is a non-profit, professional organization that seeks to assist teachers in self-development and improve English Language Teaching in Korea.</p>
      </li>
    </ul>
  </div>

  <div class="container">
    <h4 class="sponsor-section-title">Our Sponsors</h4>

    <!-- GOLD Sponsors (200,000) -->
    <h5 class="sponsor-level-title">Gold</h5>
    <ul class="sponsor-list">
      <!-- TOP Bookstore -->
      <li class="sponsor-list-item gold-sponsor">
        <a href="http://naver.me/xi0JL0WB"><img class="sponsor-logo" src="/img/sponsors/top-logo.png"></a>
        <div class="sponsor-meta">
          <h5 class="sponsor-name">TOP Bookstore</h5>
          <small class="sponsor-address"><a href="http://naver.me/xi0JL0WB">전북 전주시 완산구 동문길 110</a></small>
        </div>
      </li>
    </ul>

    <!-- SILVER Sponsors (100,000) -->
    <h5 class="sponsor-level-title">Silver</h5>
      <ul class="sponsor-list">
      <!-- Tacocina -->
      <li class="sponsor-list-item silver-sponsor">
        <a href="https://www.facebook.com/Tacocina-%ED%83%80%EC%BD%94%EC%94%A8%EB%82%98-230582780692767/"><img class="sponsor-logo" src="/img/sponsors/tacocina-logo.png"></a>
        <div class="sponsor-meta">
          <h5 class="sponsor-name">Tacocina</h5>
          <small class="sponsor-address"><a href="http://naver.me/5vAEJdag">전북 전주시 완산구 효자동3가 1534-3</a></small>
        </div>
      </li>
      <!-- Lemon Tree Cafe -->
      <li class="sponsor-list-item silver-sponsor">
        <a href="http://naver.me/5bbqCFuG"><img class="sponsor-logo" src="/img/sponsors/lemontree-logo.png"></a>
        <div class="sponsor-meta">
          <h5 class="sponsor-name">Lemon Tree Cafe</h5>
          <small class="sponsor-address"><a href="http://naver.me/5bbqCFuG">전북 전주시 완산구 전라감영로 75</a></small>
        </div>
      </li>
    </ul>

    <!-- BRONZE Sponsors (50,000) -->
    <h5 class="sponsor-level-title">Bronze</h5>
    <ul class="sponsor-list">
      <!-- Yega Restaurant -->
      <li class="sponsor-list-item bronze-sponsor">
        <a href="http://naver.me/5nM2hnF3"><img class="sponsor-logo" src="/img/sponsors/yega-logo.png"></a>
        <div class="sponsor-meta">
          <h5 class="sponsor-name">Yega Restaurant</h5>
          <small class="sponsor-address"><a href="http://naver.me/5nM2hnF3">전북 완주군 구이면 모악산길 112</a></small>
        </div>
      </li>
      <!-- English Garden -->
      <li class="sponsor-list-item bronze-sponsor">
        <a href="http://naver.me/xdodjYGu"><img class="sponsor-logo" src="/img/sponsors/english-garden-logo.png"></a>
        <div class="sponsor-meta">
          <h5 class="sponsor-name">English Garden</h5>
          <small class="sponsor-address"><a href="http://naver.me/xdodjYGu">전주시 완산구 화산천변 3길 4-3</a></small>
        </div>
      </li>
      <!-- March Rabbit -->
      <li class="sponsor-list-item bronze-sponsor">
        <a href="http://marchrabbit.co.kr/"><img class="sponsor-logo" src="/img/sponsors/march-rabbit-logo.png"></a>
        <div class="sponsor-meta">
          <h5 class="sponsor-name">March Rabbit</h5>
          <small class="sponsor-address"><a href="http://naver.me/G6hzRKmr">전라북도 전주시 완산구 홍산남로 30</a></small>
        </div>
      </li>
      <!-- Solaste Yoga -->
      <li class="sponsor-list-item bronze-sponsor">
        <a href="https://www.facebook.com/groups/solastayoga/"><img class="sponsor-logo" src="/img/sponsors/solasta-logo.png"></a>
        <div class="sponsor-meta">
          <h5 class="sponsor-name">Solaste Yoga</h5>
          <small class="sponsor-address"><a href="http://naver.me/xeYZFhCk">완산구 홍산남로 29-15 휴본빌딩 3층</a></small>
        </div>
      </li>
    </ul>
<!--       <button class="sponsor-button">Become a sponsor</button> -->

  </div>
            </section>

            <section class="conference-map">
                <% include partials/content/map.ejs %>
            </section>
        </main>

        <% include partials/template/footer.ejs %>
        <% include partials/template/footer-scripts.ejs %>
    </body>
</html>
