<!-- Workshop Overlay -->
  <aside class="app-overlay">
    <div class="app-overlay-container">
      <header class="app-overlay-header">
    <a href="#" class="tooltip close-button"><i class="close-button fa fa-times"></i><span class="screen-reader-text">Close</span></a>
    <h1 class="app-overlay-title">Add Workshop</h1>
  </header>

      <article class="app-overlay-body">
        <form id="add-workshop">
          <fieldset class="workshop-meta">
            <h4>Workshop Info</h4>
            <label for="workshop-name" class="workshop-name"><input type="text" id="workshop-name" placeholder="Workshop Name"><span>Workshop Name</span></label>
            <label for="workshop-date" class="workshop-date"><input type="date" id="workshop-date" placeholder="Workshop Date / Time"><span>Workshop Date / Time</span></label>
          </fieldset>

          <fieldset class="speaker-meta">
            <h4>Speaker Info</h4>
            <label for="speaker-name" class="speaker-name"><input type="text" id="speaker-name" placeholder="Speaker Name"><span>Speaker Name</span></label>

            <label for="speaker-title" class="speaker-title"><input type="text" id="speaker-title" placeholder="Speaker Title"><span>Speaker Title</span></label>

            <label for="speaker-abstract" class="speaker-abstract"><textarea id="speaker-abstract" placeholder="Speaker Abstract"></textarea><span>Speaker Abstract</span></label>

            <label for="speaker-bio" class="speaker-bio"><textarea id="speaker-bio" placeholder="Speaker Bio"></textarea><span>Workshop Date / Time</span></label>

            <a class="add-speaker"><i class="fa fa-plus-circle"></i> Add Speaker</a>
          </fieldset>
          <i class="fa fa-plus-circle"></i><input type="submit" class="app-screen-button" value="Add Workshop">
        </form>
      </article>
    </div>
  </aside>