<header id="nlTopbar" class="site-header">
    <nav class="cf" ng-include="'views/nav.html'"></nav>
  </header>

<!-- Workshop Overlay -->
  <aside class="app-overlay">
    <div class="app-overlay-container">
      <header class="app-overlay-header">
    <a href="#!/list" class="tooltip close-button"><i class="close-button fa fa-times"></i><span class="screen-reader-text">Close</span></a>
    <h3 class="app-overlay-title">Add Workshop</h3>
  </header>

      <article class="app-overlay-body">
        <form id="add-workshop" class="add-form" name="myform"
              ng-submit="addWorkshop()"
              novalidate>
          <fieldset class="workshop-info">
            <h4>Workshop Info</h4>
            <label for="workshopname" class="">
              <input type="text" id="workshopname" name="workshopname" placeholder="Workshop Name"
                     ng-model="workshopname" ng-required="true"><span>Workshop Name</span>
            </label>
            <p class="error validationerror" 
               ng-show="myform.workshopname.$invalid && myform.workshopname.$touched">
               Workshop name is required</p>
            
            <label for="workshopimage" class="">
<!--
              <input type="file" id="workshopimage" name="workshopimage"
                     ng-model="workshopimage"><span>Workshop Image</span>
-->
              <input type="text" id="workshopimage" name="workshopimage" placeholder="img/filename.png"
                     ng-model="workshopimage"><span>Workshop Image</span>
            </label>
            
            <label for="workshopdate" class="">
              <input type="date" id="workshopdate" name="workshopdate" placeholder="Workshop Date"
                     ng-model="workshopdate"><span>Workshop Date</span>
            </label>
            
            <label for="workshoptime" class="">
              <input type="time" id="workshoptime" name="workshoptime" placeholder="Workshop Time" value="14:45"
                     ng-model="workshoptime"><span>Workshop Time</span>
            </label>
            
            <label for="workshopinfo" class="">
              <textarea id="workshopinfo" name="workshopinfo" placeholder="Workshop Description"
                        ng-model="workshopinfo"></textarea><span>Workshop Info (Optional)</span>
            </label>
          </fieldset>

          <fieldset class="speaker-info-one speaker-info">
            <h4>First Speaker Info</h4>
            <label for="speaker1name" class="">
              <input type="text" id="speaker1name" placeholder="Speaker Name"
                     ng-model="speaker1name"><span>Speaker Name</span>
            </label>
            
            <label for="speaker1affiliation" class="">
              <input type="text" id="speaker1affiliation" placeholder="Speaker Affiliation"
                     ng-model="speaker1affiliation"><span>Speaker Affiliation (School)</span>
            </label>
            
            <label for="speaker1image" class="">
              <input type="text" id="speaker1image" placeholder="img/filename.png"
                     ng-model="speaker1image"><span>Speaker Image</span>
            </label>

            <label for="speaker1title" class="">
              <input type="text" id="speaker1title" placeholder="Speaker Title"
                     ng-model="speaker1title"><span>Speaker Title</span>
            </label>

            <label for="speaker1abstract" class="">
              <textarea id="speaker1abstract" placeholder="Speaker Abstract"
                        ng-model="speaker1abstract"></textarea><span>Speaker Abstract</span>
            </label>

            <label for="speaker1bio" class="">
              <textarea id="speaker1bio" placeholder="Speaker Bio"
                        ng-model="speaker1bio"></textarea><span>Workshop Date / Time</span>
            </label>
            
            <label for="speaker1email" class="">
              <input type="email" id="speaker1email" placeholder="Contact Email"
                     ng-model="speaker1email"><span>Contact Email</span>
            </label>
            
            <label for="speaker1link" class="">
              <input type="url" id="speaker1link" placeholder="Speaker Link"
                     ng-model="speaker1link"><span>Speaker Link</span>
            </label>

<!--            <a class="add-speaker"><i class="fa fa-plus-circle"></i> Add Speaker</a>-->
          </fieldset>
          
          <fieldset class="speaker-info-two speaker-info">
            <h4>Second Speaker Info</h4>
            <label for="speaker2name" class="">
              <input type="text" id="speaker2name" placeholder="Speaker Name"
                     ng-model="speaker2name"><span>Speaker Name</span>
            </label>
            
            <label for="speaker2affiliation" class="">
              <input type="text" id="speaker2affiliation" placeholder="Speaker Affiliation"
                     ng-model="speaker2affiliation"><span>Speaker Affiliation (School)</span>
            </label>
            
            <label for="speaker2image" class="">
              <input type="text" id="speaker2image" placeholder="img/filename.png"
                     ng-model="speaker2image"><span>Speaker Image</span>
            </label>

            <label for="speaker2title" class="">
              <input type="text" id="speaker2title" placeholder="Speaker Title"
                     ng-model="speaker2title"><span>Speaker Title</span>
            </label>

            <label for="speaker2abstract" class="">
              <textarea id="speaker2abstract" placeholder="Speaker Abstract"
                        ng-model="speaker2abstract"></textarea><span>Speaker Abstract</span>
            </label>

            <label for="speaker2bio" class="">
              <textarea id="speaker2bio" placeholder="Speaker Bio"
                        ng-model="speaker2bio"></textarea><span>Workshop Date / Time</span>
            </label>
            
            <label for="speaker2email" class="">
              <input type="email" id="speaker2email" placeholder="Contact Email"
                     ng-model="speaker2email"><span>Contact Email</span>
            </label>
            
            <label for="speaker2link" class="">
              <input type="url" id="speaker2link" placeholder="Speaker Link"
                     ng-model="speaker2link"><span>Speaker Link</span>
            </label>

<!--            <a class="add-speaker"><i class="fa fa-plus-circle"></i> Add Speaker</a>-->
          </fieldset>
          <button type="submit" class="app-screen-button button big-button"
                  ng-disabled="myform.$invalid">
            <i class="fa fa-plus-circle"></i> Add Workshop
          </button>
        </form>
      </article>
    </div>
  </aside>
