  <header id="nlTopbar" class="site-header">
  <nav class="cf" ng-include="'views/nav.html'"></nav>
</header>

<section id="checkin-screen" class="app-screen">
<main class="app-screen-body">

  <section id="checkin-list" class="app-section checkin-list">
    <hgroup class="app-section-title-group">
      <h2 class="app-section-title">{{ thisworkshop.workshopname }}</h2>
      <p class="app-section-description">{{ thisworkshop.workshopdescription }}</p>
    </hgroup>
    
    <figure class="hero image" style="background-image: url('{{ thisworkshop.workshopimage }}');">
      <div class="svg-container header-svg svg-block">
        <!-- SVG Container from Oblique WordPress Theme: https://demo.themeisle.com/oblique/ -->
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1890 150">
				<g transform="translate(0, -902.36218)"></g>
				<path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
				<path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
				<path d="m 1925,0 0,150 -1925,0"></path>
			  </svg>
      </div>
    </figure>
    
    <h4 class="app-section-title">All Check-ins</h4>
    <div class="container small">

      <div class="search-list add-form">
        <h5>Search Checkins</h5>
        <input type="text" ng-model="query" placeholder="Search for users">

        <div class="formgroup">
          <span class="label">by:</span>
          <select ng-model="order">
            <option value="firstname">First Name</option>
            <option value="lastname">Last Name</option>
            <option value="date">Date</option>
          </select>
        </div>

        <div class="formgroup">
          <input type="radio" id="dirasc" name="direction" checked="checked"
                 ng-model="direction">
          <label for="dirasc">asc</label>&nbsp;

          <input type="radio" id="dirdesc" name="direction" 
                 ng-model="direction" value="reverse">
          <label for="dirdesc">desc</label>
        </div>

        <div ng-show="currentUser" class="buttons">
          <button class="button button-pick"
                  ng-hide="recordId" ng-click="pickRandom()">Pick Random</button>
          <button class="button button-pick"
                  ng-show="recordId" ng-click="recordId=''">Reset</button>
        </div>
      </div>
    </div>
    
    <ul class="attendees-list">
      <li class="attendee" ng-class="checkin.userState" ng-repeat="checkin in checkins | orderBy: order:direction | filter: {$id: recordId, $: query}">
        <div class="checkin">
          
            <a class="workshop-prize tooltip"
                    ng-show="currentUser" ng-click="showPrize(checkin)">
              <i class="fa fa-trophy"></i><span class="screen-reader-text">Award Prize</span>
            </a>
          
          <div class="attendee-meta">
            <h4 class="attendee-name">{{checkin.firstname}} {{checkin.lastname}}</h4>
            <p class="attendee-date">{{checkin.date | date: "MMM d, yy h:mm a"}}</p>
          </div><!-- .user-meta -->
          
          <a class="delete-button" ng-show="currentUser"
                    ng-click="deleteCheckin(checkin.$id)">
            <i class="fa fa-trash"></i>
              <p>Delete</p>
          </a>
          
          <div class="show-checkins" ng-show="checkin.show">
            <form name="myform" class="award"
                  ng-submit="awardPrize(checkin, checkin.prizeText)"
                  novalidate>
              <input type="text" name="prizeText" placeholder="What are you giving?"
                     ng-required="true" ng-model="checkin.prizeText">
              <button class="button" type="submit"
                      ng-disabled="myform.$invalid">+</button>
            </form>
            
            <ul class="prizeslist">
              <li class="attendee" ng-repeat="(key, prize) in checkin.prizes">
                <div class="prize">
                  <div class="buttons">
                    <button class="button button-small button-delete tooltip"
                            ng-click="deletePrize(checkin, key)">
                      <span>Delete this prize</span>
                    </button>
                  </div><!-- .buttons -->
                  {{ prize.name }}
                </div>
              </li>
            </ul>
          </div><!-- .show-checkins -->
          
        </div><!-- .checkin -->
      </li>
    </ul><!-- .userlist -->
  </section>
  </main>
  
  <footer class="app-screen-footer" ng-include="'views/nav-footer.html'">
  </footer>
</section>