<!-- Home Screen -->
<section id="home-screen" class="app-screen home">
  <main class="app-screen-body gradient">
    <a href="#!/">
      <figure class="logo">
        <img id="logo" src="img/jnj-kotesol-logo-vert.png">
      </figure>
    </a>

    <p class="tagline">Teachers helping teachers.</p>
    <p class="intro">Montly Workshops held at Jeonju University for teachers of all levels.</p>

    <div class="buttons">
      <a ng-href="#!/workshops" id="go-to-workshops" class="button home-button">Workshops <span class="number">5</span></a>
      <a ng-href="#!/login" id="go-to-signin" class="button home-button">Sign in</a>
      <a ng-href="#!/register" id="go-to-register" class="button home-button">Register</a>
    </div>

    <p class="credits"><small>App design &copy;2017 Aaron Snowberger</small></p>
  </main>
</section><!-- #home-screen -->