<!-- <section class="app-section workshops">-->
<!--
  <div class="container small">
    <div class="text-intro">
      <h2 class="app-section-title">Workshops</h2>
      <p>{{ message }}</p>
    </div>

    <form class="formgroup add-workshop" name="myform"
          ng-submit="addWorkshop()"
          novalidate>

      <fieldset>
        <input type="text" name="workshopname" placeholder="Workshop name"
               ng-model="workshopname" ng-required="true">
        <p class="error validationerror"
           ng-show="myform.workshopname.$invalid && myform.workshopname.$touched">
        Workshop name is required</p>

        <input type="date" name="workshopdate" placeholder="Workshop date"
               ng-model="workshopdate" ng-required="true">
        <p class="error validationerror"
           ng-show="myform.workshopdate.$invalid && myform.workshopdate.$touched">
        Workshop date is required</p>
      </fieldset>

      <button type="submit" class="button big-button"
              ng-disabled="myform.$invalid">+</button>
    </form> 
-->

<header id="nlTopbar" class="site-header">
    <nav class="cf" ng-include="'views/nav.html'"></nav>
  </header>

    <!-- Workshops List -->
    <section id="workshops-list" class="app-screen">
      <main class="app-screen-body">
        <figure class="app-screen-main-img">
          <img src="img/workshops-main.png">
        </figure>

        <h4 class="app-section-title">All Workshops</h4>
        <ul class="workshops-list">
          <li class="workshop" ng-repeat="(key, workshop) in workshops | orderBy:order:direction">
            <a ng-click="reloadRoute()" ng-href="#!/single/V9TzErg8ZySsEOxkTkcxfvjFIOD2/{{ workshop.$id }}">
              <span class="workshop-attendee number">#</span>
              <div class="workshop-meta">
                <h2 class="workshop-name">{{ workshop.workshopname || workshop.name }}</h2>
                <p class="workshop-date">{{ workshop.workshopdate || workshop.date }} {{ workshop.workshoptime }}</p>
              </div>
            </a>
            <!--
            <a class="delete-button" ng-click="deleteWorkshop(key)">
              <i class="fa fa-trash"></i>
              <p>Delete</p>
            </a>
            -->
          </li>
        </ul><!-- .workshop-list -->
      </main>

      <footer class="app-screen-footer push-down">
        <nav class="cf" ng-include="'views/nav-footer.html'"></nav>
      </footer>
      
      <!--<a id="add-workshop-button" class="app-screen-button" href="#!/add">
        <i class="fa fa-plus-circle"></i> Add Workshop
      </a>-->
    </section>
  <!-- </div>
</section><!-- .workshops -->
