<!-- <section class="app-section workshops">
  <div class="container small">
    <div class="text-intro">
      <h2 class="app-section-title">Workshops</h2>
      <p>{{ message }}</p>
    </div>

    <form class="formgroup add-workshop" name="myform"
          ng-submit="addWorkshop()"
          novalidate>

      <fieldset>
        <input type="text" name="workshopname" placeholder="Workshop name"
               ng-model="workshopname" ng-required="true">
        <p class="error validationerror"
           ng-show="myform.workshopname.$invalid && myform.workshopname.$touched">
        Workshop name is required</p>

        <input type="date" name="workshopdate" placeholder="Workshop date"
               ng-model="workshopdate" ng-required="true">
        <p class="error validationerror"
           ng-show="myform.workshopdate.$invalid && myform.workshopdate.$touched">
        Workshop date is required</p>
      </fieldset>

      <button type="submit" class="button big-button"
              ng-disabled="myform.$invalid">+</button>
    </form> -->

<header id="nlTopbar" class="site-header">
    <nav class="cf" ng-include="'views/nav.html'"></nav>
  </header>

    <!-- Workshops List -->
    <section id="workshops-list" class="app-screen active">
      <main class="app-screen-body">
        <figure class="app-screen-main-img">
          <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/23795400_1861551364157535_7739358288284061935_n.jpg?oh=4466376a9eb91c8ed863e667d91f3a92&oe=5A97D703">
        </figure>

        <ul class="workshops-list">
          <li class="workshop"  ng-repeat="(key, workshop) in workshops">
            <a ng-href="#!/checkins/{{currentUser.regUser}}/{{workshop.$id}}">
              <span class="workshop-attendee number">#</span>
              <div class="workshop-meta">
                <h2 class="workshop-name">{{ workshop.name }}</h2>
                <p class="workshop-date">{{ workshop.workshopdata }}</p>
              </div>
            </a>
            <a class="delete-button" ng-click="deleteWorkshop(key)">
              <i class="fa fa-trash"></i>
              <p>Delete</p>
            </a>
          </li>
        </ul><!-- .workshop-list -->
      </main>

      <footer class="app-screen-footer">
        <a id="add-workshop-button" class="app-screen-button" href="#!/add">
          <i class="fa fa-plus-circle"></i> Add Workshop
        </a>
      </footer>
    </section>
  <!-- </div>
</section><!-- .workshops -->
