<nav class="footer-menu">
  <ul class="footer-menu-buttons">
    <li class="footer-menu-button">
      <a ng-href="#!/home"><i class="fa fa-home"></i><p>Home</p></a>
    </li>
    <!--
    <li class="footer-menu-button">
      <a ng-href="#!/list"><i class="fa fa-list"></i><p>Workshops</p></a>
    </li>
    -->
    <li class="footer-menu-button">
      <a ng-href="#!/checkin/V9TzErg8ZySsEOxkTkcxfvjFIOD2/-L-HFiSoNFhwKaZj3sTB"><i class="fa fa-check"></i><p>Check-in</p></a>
    </li>
    <li class="footer-menu-button">
      <a ng-href="#!/checkin/V9TzErg8ZySsEOxkTkcxfvjFIOD2/-L-HFiSoNFhwKaZj3sTB/list"><i class="fa fa-list"></i><p>Attendee List</p></a>
    </li>
    <li class="footer-menu-button">
      <a ng-href="#!/login"><i class="fa fa-sign-in"></i><p>Login</p></a>
    </li>
  </ul>
</nav>