<!--
<div class="site-menu-bar">
    <div class="container">
      <figure class="logo">
        <a ng-href="#!/">
          <img class="logo" src="https://conference.jnjkotesol.com/img/kotesol-logo.png">
        </a>
      </figure>
      <nav class="site-navigation">
        <button class="site-mobile-menu-button"><i class="fa fa-bars"></i> Menu</button>
        <ul class="site-menu">
          <li class="site-menu-item"><a ng-show="currentUser" ng-href="#!/workshops">Workshops
            <span ng-show="howManyWorkshops" class="badge">{{howManyWorkshops}}</span></a>
          </li>
          <li class="site-menu-item"><a ng-hide="currentUser" ng-href="#!/register">Register</a></li>

          <li role="separator" class="site-menu-item supplementary line"></li>
          <li class="site-menu-item supplementary"><a ng-href="/team">About</a></li>
          <li class="site-menu-item supplementary"><a ng-href="/code-of-conduct">Code of Conduct</a></li>
          <li class="site-menu-item supplementary"><a ng-href="/privacy">Privacy Policy</a></li>
          <li class="site-menu-item supplementary"><a ng-href="mailto:jnjconference@gmail.com">Contact Us</a></li>
        </ul>
        <a class="button ticket-button" ng-hide="currentUser" ng-href="#!/login">Login</a>

        <div class="userinfo" ng-show="currentUser" ng-controller="RegistrationController">
          <p class="userinfo">Hi {{currentUser.firstname}}!
            <a class="button ticket-button" ng-href="#!/login" ng-click="logout()">Logout</a>
          </p>
        </div>
      </nav>
    </div>
     .container
  </div>
   .site-menu-bar
-->


<!-- App Menu -->
<header class="app-screen-header">
  <a id="main-menu-button" href="#" class="tooltip"><i class="fa fa-bars"></i><span class="screen-reader-text">Menu</span></a>
  <h1 class="app-screen-title">Workshops <span class="number">7</span></h1>
  <div class="buttons">
    <a href="#"><i class="fa fa-filter"></i><span class="screen-reader-text">Filter</span></a>
    <a href="#"><i class="fa fa-search"></i><span class="screen-reader-text">Search</span></a>
  </div>
  <div id="nlMenu" class="main"><div id="nlIcon" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><div id="dot-top"></div><div id="dot-center"></div><div id="dot-bottom"></div></div>
    <div id="nlMenuContent" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
      <!-- place your menu content here -->
      <ul>
        <li ng-click="toast.show({title:'Selected Share',timeout: 2500})">Share</li>
        <li ng-click="toast.show({title:'Selected Edit',timeout: 2500})">Edit</li>
        <li ng-click="toast.show({title:'Thanks!',timeout: 1000})">Hug someone</li>
      </ul>
    </div>
  </div>
</header>

<div id="nlDrawer" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); transform: translate(-300px, 0px) translateZ(0px) rotate(0deg); width: 300px; max-width: 300px;">
    <div class="topbar drawer large">
      <img class="gravatar depth z1" src="./img/free-flat-icons-set-thumb.jpg">
      <div class="username">
        <strong>John</strong><br>
        Doe
      </div>
    </div>
    <ul class="nav">
      <li><a href="#app">App</a></li>
      <li><a href="#settings">Settings</a></li>
      <div class="bottom">
        <li><a href="#settings">Settings</a></li>
      </div>
    </ul>
  </div>

<aside id="app-menu" class="app-menu app-overlay">
  <div class="app-menu-container">
    <div class="menu-profile-section">

    </div>
    <ul class="site-menu">
      <li class="site-menu-item">
        <a id="home-menu-link" href="#">Home</a>
      </li>
      <li class="site-menu-item">
        <a id="workshops-menu-link" href="#">Workshops</a>
      </li>
      <li class="site-menu-item">
        <a id="single-menu-link" href="#">Single Workshop</a>
      </li>
      <li role="separator" class="site-menu-item supplementary line"></li>
    </ul>
  </div>
</aside><!-- .app-menu -->
