<header id="nlTopbar" class="site-header">
    <nav class="cf" ng-include="'views/nav.html'"></nav>
  </header>

<!-- Workshops Single -->
<section id="speaker-single" class="app-screen">
<!--   <header class="app-screen-header">
    <a href="#" class="tooltip"><i class="fa fa-bars"></i><span class="screen-reader-text">Menu</span></a>
    <h1 class="app-screen-title">December Workshop <span class="number">17</span></h1>
  </header> -->
  
  <main class="app-screen-body">
    <figure class="hero image" style="background-image: url('img/workshops/{{ thisworkshop.workshopimage }}');">
      <div class="svg-container header-svg svg-block">
        <!-- SVG Container from Oblique WordPress Theme: https://demo.themeisle.com/oblique/ -->
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1890 150">
				<g transform="translate(0, -902.36218)"></g>
				<path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
				<path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
				<path d="m 1925,0 0,150 -1925,0"></path>
			  </svg>
      </div>
    </figure>

    <section class="page-section speakers speaker-one gradient">
      <div class="container">
        <!-- http://davist11.github.io/css-diamond-grid/# -->
        <div class="grid">
          <div class="grid-item photo">
            <div class="grid-inner">
              <figure class="diamonds-item photo rhombus bg-primary">
                <img class="speaker-img" src="{{ thisworkshop.speaker1image }}">
              </figure>
            </div>
          </div>

          <div class="speaker-info-section">
            <div class="speaker-meta">
              <p class="speaker-name"><a href="#">{{ thisworkshop.speaker1name }}</a></p>
              <p class="speaker-affiliation">{{ thisworkshop.speaker1affiliation }}</p>
              <p class="speaker-session"><strong>Talk / </strong><a href="#">{{ thisworkshop.speaker1title }}</a></p>
            </div>

            <div class="speaker-info">
              <p class="speaker-abstract">{{ thisworkshop.speaker1abstract }}</p>
              <h2 class="speaker-bio-title">About {{ thisworkshop.speaker1name }}</h2>
              <p id="speaker-bio" class="speaker-bio">{{ thisworkshop.speaker1bio }} 
                email: <a href="mailto:{{ workshop.speakeremail }}">{{ thisworkshop.speaker1email }}</a> 
                web: <a href="{{ workshop.speakerlink }}">{{ thisworkshop.speaker1link }}</a>
              </p>
            </div>
          </div>
          <!-- .speaker-details -->
        </div>
      </div>
    </section>
    
    <section class="page-section speakers speaker-two gradient">
      <div class="svg-container map-svg svg-block">
			  <!-- SVG Container from Oblique WordPress Theme: https://demo.themeisle.com/oblique/ -->
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1890 150">
				  <g transform="translate(0, -902.36218)"></g>
				  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
				  <path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
				  <path d="m 1925,0 0,150 -1925,0"></path>
				</svg>
			  </div>
      
      <div class="container">
        <!-- http://davist11.github.io/css-diamond-grid/# -->
        <div class="grid">
          <div class="grid-item photo">
            <div class="grid-inner">
              <figure class="diamonds-item photo rhombus bg-primary">
                <img class="speaker-img" src="{{ thisworkshop.speaker2image }}">
              </figure>
            </div>
          </div>

          <div class="speaker-info-section">
            <div class="speaker-meta">
              <p class="speaker-name"><a href="#">{{ thisworkshop.speaker2name }}</a></p>
              <p class="speaker-affiliation">{{ thisworkshop.speaker2affiliation }}</p>
              <p class="speaker-session"><strong>Talk / </strong><a href="#">{{ thisworkshop.speaker2title }}</a></p>
            </div>

            <div class="speaker-info">
              <p class="speaker-abstract">{{ thisworkshop.speaker2abstract }}</p>
              <h2 class="speaker-bio-title">About {{ thisworkshop.speaker2name }}</h2>
              <p id="speaker-bio" class="speaker-bio">{{ thisworkshop.speaker2bio }} 
                email: <a href="mailto:{{ workshop.speakeremail }}">{{ thisworkshop.speaker2email }}</a> 
                web: <a href="{{ workshop.speakerlink }}">{{ thisworkshop.speaker2link }}</a>
              </p>
            </div>
          </div>
          <!-- .speaker-details -->
        </div>
      </div>
    </section>
  </main>
  
  <footer class="app-screen-footer">
        <a id="checkin-button" class="app-screen-button" href="#!/checkin/{{ currentUser.regUser }}/{{ thisworkshop.workshopid }}">
          <i class="fa fa-check"></i> Check-in
        </a>
      </footer>
</section>
