<!-- Workshops Single -->
<section id="speaker-single" class="app-screen">
<!--   <header class="app-screen-header">
    <a href="#" class="tooltip"><i class="fa fa-bars"></i><span class="screen-reader-text">Menu</span></a>
    <h1 class="app-screen-title">December Workshop <span class="number">17</span></h1>
  </header> -->

  <main class="app-screen-body">
    <figure class="hero image">
      <div class="svg-container header-svg svg-block">
        <!-- SVG Container from Oblique WordPress Theme: https://demo.themeisle.com/oblique/ -->
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1890 150">
				<g transform="translate(0, -902.36218)"></g>
				<path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
				<path d="m 898.41609,-33.21176 0.01,0 -0.005,-0.009 -0.005,0.009 z"></path>
				<path d="m 1925,0 0,150 -1925,0"></path>
			  </svg>
      </div>
    </figure>

    <section class="page-section speakers gradient">
      <div class="container">
        <!-- http://davist11.github.io/css-diamond-grid/# -->
        <div class="grid">
          <div class="grid-item photo">
            <div class="grid-inner">
              <figure class="diamonds-item photo rhombus bg-primary">
                <img class="speaker-img" src="http://jnjkotesol.com/img/colin-walker.jpg">
              </figure>
            </div>
          </div>

          <div class="speaker-info-section">
            <div class="speaker-meta">
              <p class="speaker-name"><a href="#">Colin Walker</a></p>
              <p class="speaker-affiliation">Myongji University</p>
              <p class="speaker-session"><strong>Talk / </strong><a href="#">Language Socialization in EFL Debate</a></p>
            </div>

            <div class="speaker-info">
              <p class="speaker-abstract">Complete with course materials, teaching resources, and video evidence from the classroom, this presentation introduces a task-based approach to teach debate. First, we address pedagogic decisions in the design of the debate syllabus: scheduling
                and the selection of captains, teams, and positions. Next, key points in argumentation are briefly reviewed so that teachers have an objective scale to evaluate student performance. Coming full circle, participants learn how to organize
                a debate over three classes: Day 1 for comparing newspaper sources and brainstorming ideas; Day 2 for the captains to work with their team members to consolidate their ideas; and Day 3 for the formal debate. Throughout the presentation,
                participants will be given opportunities to converse with others and share ideas.</p>
              <h2 class="speaker-bio-title">About Colin</h2>
              <p class="speaker-bio">As an Assistant Professor in the Department of English Language and Literature at Myongji University, Colin teaches written composition, conversation, presentation, debate, and listening comprehension. He has an MA in TEFL/TESL from the
                University of Birmingham and has focused much of his recent research on student exchange programs. Though employed in Seoul, Colin lives a tranquil life with his wife in Cheonan. On the 1.5-hour train commute into the Korean capital, he
                can often be found preparing materials or viewing highlights of his beloved Hanhwa Eagles. email: <a href="mailto:cwalker@mju.ac.kr">cwalker@mju.ac.kr</a> web: <a href="http://walkercolin.com">walkercolin.com</a></p>
            </div>
          </div>
          <!-- .speaker-details -->
        </div>
    </section>
  </main>
</section>
