<section class="site-footer">
  <div class="container">
    <ul class="conference-details-nav">
      <li class="conference-details-nav-item">
        <a href="/">Home</a>
      </li>
      <li class="conference-details-nav-item">
        <a href="/speakers">Speakers</a>
      </li>
      <li class="conference-details-nav-item">
        <a href="/schedule">Schedule</a>
      </li>
      <li class="conference-details-nav-item">
        <a href="/location">Location</a>
      </li>
      <li class="conference-details-nav-item">
        <a href="/partners">Partners</a>
      </li>
      <li class="conference-details-nav-item">
        <a href="/feedback">Feedback</a>
      </li>
    </ul>
    <ul class="conference-details-nav">
      <li class="conference-details-nav-item">
        <a href="/team">About</a>
      </li>
      <li class="conference-details-nav-item">
        <a href="https://koreatesol.org/join-kotesol">Membership</a>
      </li>
      <li class="conference-details-nav-item">
        <a href="/code-of-conduct">Code of Conduct</a>
      </li>
      <li class="conference-details-nav-item">
        <a href="/privacy">Privacy Policy</a>
      </li>
      <li class="conference-details-nav-item">
        <a href="mailto:jnjconference@gmail.com">Contact Us</a>
      </li>
    </ul>
    <nav class="social-nav">
      <ul class="social-nav-list">
        <img class="footer-logo-img" src="/img/kotesol-logo.png">
        <li class="social-nav-item">
          <a href="http://facebook.com/jnjkotesol"><span class="screen-reader-text">Facebook</span></a>
        </li>
        <li class="social-nav-item">
          <a href="http://instagram.com/jnjkotesol"><span class="screen-reader-text">Instagram</span></a>
        </li>
        <li class="social-nav-item">
          <a href="http://koreatesol.org"><span class="screen-reader-text">KOTESOL</span></a>
        </li>
        <li class="social-nav-item">
          <a href="mailto:jnjconference@gmail.com"><span class="screen-reader-text">Email</span></a>
        </li>
      </ul>
    </nav>
  </div>
</section>

<footer class="site-credits">
  <div class="container">
    <p class="copyright">&copy; 2017 JNJ KOTESOL. All rights reserved.</p>
    <p class="credits">
      Coded by <a href="https://aaron.kr">Aaron Snowberger</a> / Inspired by <a href="https://experiencecode.com">Experience Code 2017</a>
    </p>
    <p class="credits">Jeonju Hanok Village photo by <a href="https://www.flickr.com/photos/chris_gyeongju/8668596198/">Chris Anderson</a> / <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC BY-SA 2.0</a></p>
  </div>
</footer>
