<header class="site-header">
  <div class="site-banner">
    <p class="container">Nov 11, 2017 / 1pm / <a href="/location">Jeonju</a></p>
  </div>

  <div class="site-menu-bar">
    <div class="container">
      <figure class="logo">
        <a href="/">
          <img class="logo" src="/img/kotesol-logo.png">
        </a>
      </figure>
      <nav class="site-navigation">
        <button class="site-mobile-menu-button"><i class="fa fa-bars"></i> Menu</button>
        <ul class="site-menu">
          <li class="site-menu-item"><a href="/speakers">Speakers</a></li>
          <li class="site-menu-item"><a href="/schedule">Schedule</a></li>
          <li class="site-menu-item"><a href="/location">Location</a></li>
          <li class="site-menu-item"><a href="/sponsors">Sponsors</a></li>
          <li class="site-menu-item"><a href="/blog">Blog</a></li>
          <li role="separator" class="site-menu-item supplementary line"></li>
          <li class="site-menu-item supplementary"><a href="/about">About</a></li>
          <li class="site-menu-item supplementary"><a href="/code-of-conduct">Code of Conduct</a></li>
          <li class="site-menu-item supplementary"><a href="/privacy">Privacy Policy</a></li>
          <li class="site-menu-item supplementary"><a href="/contact">Contact Us</a></li>
        </ul>
        <a class="button ticket-button" href="/register">Register</a>
      </nav>
    </div>
    <!-- .container -->
  </div>
  <!-- .site-menu-bar -->
</header>
